@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Staatliches', cursive;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiAutocomplete-popper {
  z-index: 99999999999999 !important;
}

.MuiPaginationItem-root {
  font-family: 'Staatliches', cursive !important;
}
.MuiTypography-colorTextSecondary {
  color: white !important;
  font-size: 30px;
}

.MuiAutocomplete-root,
.MuiOutlinedInput-root,
.MuiAutocomplete-inputRoot,
.MuiInputBase-fullWidth,
.MuiInputBase-formControl,
.MuiInputBase-adornedEnd,
.MuiOutlinedInput-adornedEnd,
.MuiTypography-body1 {
  font-family: 'Staatliches', cursive !important;
  min-height: 48px !important;
}
.MuiTableCell-head {
  color: white !important;
}
